.headerContainer {
    height: 72px;
    width: 100%;
    border-bottom: 1px solid #FFFFFF1F;
    display: flex;
    padding: 15px 24px;
}

.headerLogo{
    align-content: center;
    margin-right: 24px;
}

.headerLink{
    display: flex;
}

.headerLinkBox {
    padding: 6px 10px 8px 10px;
}

.active {
    border-radius: 10px;
    color: #FAFAFA;
    box-shadow: 1px 1px 2px 0px #FCFCFC1F inset;
    background-color: #26262A;
}

.headerLink p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

