**

!.dockerignore
!cardano/
!cardano/gateway/
!cardano/gateway/**
!packages/
!packages/**
!dapps/
!dapps/ibc-swap/
!dapps/ibc-swap/client/
!dapps/ibc-swap/client/**
!proto-types/
!proto-types/**
!manifests/
!manifests/**

cardano/gateway/node_modules
cardano/gateway/dist
packages/**/node_modules
dapps/ibc-swap/client/node_modules
dapps/ibc-swap/client/.next
proto-types/node_modules
proto-types/dist
