# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


cardano/gateway/deployment
chains/osmosis
chains/osmosis-setup/cosmwasm/artifacts
chains/osmosis-setup/cosmwasm/target
chains/osmosis-setup/.osmosis-local/data
chains/osmosis-setup/.osmosis-local/keyring-test
chains/osmosis-setup/.osmosis-local/config/gentx
chains/osmosis-setup/.osmosis-local/config/client.toml
chains/osmosis-setup/.osmosis-local/config/node_key.json
chains/osmosis-setup/.osmosis-local/config/priv_validator_key.json
chains/osmosis-setup/.osmosis-local/wasm/wasm/cache
chains/osmosis-setup/.osmosis-local/wasm/wasm/state/wasm