[submodule "chains/osmosis/osmosis"]
	path = chains/osmosis/osmosis
	url = https://github.com/osmosis-labs/osmosis.git

[submodule "chains/mithrils/mithril"]
	path = chains/mithrils/mithril
	url = https://github.com/input-output-hk/mithril.git
[submodule "chains/sqs/sqs"]
	path = chains/sqs/sqs
	url = https://github.com/osmosis-labs/sqs.git
