# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


cardano/gateway/deployment
chains/osmosis/osmosis/
chains/osmosis/osmosis.zip
chains/osmosis/configuration/cosmwasm/artifacts
chains/osmosis/configuration/cosmwasm/target
chains/osmosis/configuration/.osmosis-local/data
chains/osmosis/configuration/.osmosis-local/keyring-test
chains/osmosis/configuration/.osmosis-local/config/gentx
chains/osmosis/configuration/.osmosis-local/config/client.toml
chains/osmosis/configuration/.osmosis-local/config/node_key.json
chains/osmosis/configuration/.osmosis-local/config/priv_validator_key.json
chains/osmosis/configuration/.osmosis-local/wasm/wasm/cache
chains/osmosis/configuration/.osmosis-local/wasm/wasm/state/wasm

chains/cardano/devnet/
chains/cardano/kupo-db/
chains/cardano/db-sync-data/
chains/cardano/postgres/
chains/cardano/baseinfo/
chains/cardano/persistence/

chains/mithrils/mithril
chains/mithrils/data
cardano-cli
cardano-node

.vscode/

chains/summit-demo/
relayer/.config