ADDRESS_TO_FUND=addr1q9d06r5h5uktqanvdyd07y747yllfst7rd025y3g0xmwdpwx5mfvatq23xwn72rnygnjvwlj808x4w0eq4ttqts2fums7qp6ll
FUND_ADA=1000
CARDANO_NETWORK=mainnet # or preprod or preview
OGMIOS_PORT=9001
KUPO_PORT=9002
