SUBQL_SIDE_CHAIN_RPC=http://0.0.0.0:1317
SUBQL_LOCAL_OSMOSIS_RPC=http://0.0.0.0:1318


SUBQL_SIDE_CHAIN_ENDPOINT=http://0.0.0.0:26657
SUBQL_LOCAL_OSMOSIS_ENDPOINT=http://0.0.0.0:26658
SUBQL_CARDANO_ENDPOINT=ws://0.0.0.0:3001
