DATABASE_URL=postgresql://postgres:v8hlDV0yMAHHlIurYupj@localhost:6432/cexplorer
CARDANO_NODE_URL=localhost:3001
CARDANO_MAGIC_NUM=42
CARDANO_EPOCH_NONCE_GENESIS="0367c9e78a24a3350112a0af1cb9c5c95894008447259c61d5915c1cf3c7ecf0"
RUST_BACKTRACE=1
CARGO_PKG_NAME=cardano-node-service
PORT=8080
