DATABASE_URL=postgresql://postgres:v8hlDV0yMAHHlIurYupj@localhost:6432/cexplorer
CARDANO_NODE_URL=localhost:3001
CARDANO_MAGIC_NUM=42
CARDANO_EPOCH_NONCE_GENESIS="d0af336e1b37d6e75e20f911009823ca255857a62d992a15b6cc3c437a2cb2d6"
RUST_BACKTRACE=1
CARGO_PKG_NAME=cardano-node-service
PORT=8080
