DATABASE_URL=postgresql://postgres:v8hlDV0yMAHHlIurYupj@localhost:6432/cexplorer
CARDANO_NODE_URL=localhost:3001
CARDANO_MAGIC_NUM=42
CARDANO_EPOCH_NONCE_GENESIS="3321a42bf87f3cbf709edb380804a14276766a85a8378f33c12b14a6873bfdfb"
RUST_BACKTRACE=1
CARGO_PKG_NAME=cardano-node-service
PORT=8080
